h1, h2 {
  text-align: center;
  font-family: fantasy;
  color: white
}

h1 {
  padding-bottom: 250px;
  color: red
}

#background{
  background-image: url('../images/pawprintbackground.png');
}

.jumbotron{
  background-image: url('../images/ds.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 1800px;
  height: 700px;
}

.btn-default {
  background-color: #8D19D0 !important;
  color: white;
}

.btn-info:hover {
  color: black
}

.btn-primary:hover {
  color: black
}

.navbar-nav:hover {
  color: black
}

.btn-lg {
 padding: 10px;
 justify-content: center;
 font-size: 16px;
 background-color: #8D19D0 !important;
 font-style: Helvetica;
 cursor: grab;
 margin: auto;
 width: 30%;
 margin-left: 40%;
 margin-right: 40%;
}

#slideshow {
    margin: 100px auto;
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;
}

#slideshow > div {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
}

.img {
    width: 500px;
    height: 300px;
    background-position: center;
    background-repeat: repeat;
}
